<div mat-dialog-content class="reg-div">
  <p>User Register</p>

  <mat-form-field appearance="fill">
    <mat-label>Your Name</mat-label>
    <input matInput [(ngModel)]="registdata.username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Your Password</mat-label>
    <input matInput [(ngModel)]="registdata.password">
  </mat-form-field>
  <p></p>

  <mat-form-field appearance="fill">
    <mat-label>Your Gender</mat-label>
    <input matInput [(ngModel)]="registdata.gender">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Your Age</mat-label>
    <input matInput [(ngModel)]="registdata.age">
  </mat-form-field>
  <p></p>

  <mat-form-field appearance="fill">
    <mat-label>Your Occupation</mat-label>
    <input matInput [(ngModel)]="registdata.occupation">
  </mat-form-field>
  <p></p>

  <mat-form-field appearance="fill">
    <mat-label>Your Zipcode</mat-label>
    <input matInput [(ngModel)]="registdata.zipcode">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="registdata" class="reg-button" cdkFocusInitial>Login</button>
</div>
