<div mat-dialog-content class="reg-div">
  <p>用户注册</p>

  <mat-form-field appearance="fill">
    <mat-label>用户名</mat-label>
    <input matInput [(ngModel)]="registdata.name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>密码</mat-label>
    <input matInput [(ngModel)]="registdata.password">
  </mat-form-field>
  <p></p>

  <mat-form-field appearance="fill">
    <mat-label>性别</mat-label>
    <input matInput [(ngModel)]="registdata.gender">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>年龄</mat-label>
    <input matInput [(ngModel)]="registdata.age">
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="registdata" class="reg-button" cdkFocusInitial>完成注册</button>
</div>
