<div class="list-title">
  <p>电影推荐</p>
</div>
<mat-stepper #stepper class="mat-stepper-div">
<!--  Step1.选择需要进行算法推荐的用户 如果是普通用户 默认为自己 如果为管理员 则可以任意添加目标用户 也可以随机生成-->
  <mat-step [stepControl]="firstFormGroup" errorMessage="User ID is required." [editable]="isEditable">
    <form [formGroup]="firstFormGroup" class="step-div">
      <ng-template matStepLabel>输入目标用户ID</ng-template>
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>User ID</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl_step1" [disabled]="true">
          <mat-chip-row *ngFor="let keyword of keywords" (removed)="removeKeyword(keyword)">
            {{keyword}}
            <button matChipRemove aria-label="'remove ' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New user..."
               [matChipInputFor]="chipGrid"
               (matChipInputTokenEnd)="add($event)"/>
      </mat-form-field>
      <p *ngIf="keywords.length>=5">
        用户数量已到达最大值
      </p>
      <button mat-button matStepperNext class="button-back">Back</button>
      <button mat-button matStepperNext class="button-next">Next</button>
    </form>
  </mat-step>
<!--  Step2.选择需要进行推荐的算法-->
  <mat-step [stepControl]="secondFormGroup" errorMessage="Algorithm is required." [editable]="isEditable">
    <form [formGroup]="secondFormGroup" class="step-div">
      <ng-template matStepLabel>选择推荐算法</ng-template>
      <section class="example-section" [formGroup]="toppings">
        <h4>选择你想使用的推荐算法:</h4>
        <p><mat-checkbox formControlName="alg1">基于内容的推荐算法</mat-checkbox></p>
        <p><mat-checkbox formControlName="alg2">基于用户的协同过滤算法</mat-checkbox></p>
        <p><mat-checkbox formControlName="alg3">基于物品的协同过滤算法</mat-checkbox></p>
        <p><mat-checkbox formControlName="alg4">混合推荐算法</mat-checkbox></p>
      </section>
      <button mat-button matStepperNext class="button-back">Back</button>
      <button mat-button matStepperNext class="button-next">Next</button>
    </form>
  </mat-step>
<!--  Step3.输入数据集划分比例 有初始推荐值-->
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Rate is required." [editable]="isEditable">
    <form class="step-div">
      <ng-template matStepLabel>选择测试/训练集划分比</ng-template>

      <mat-form-field class="example-form-field">
        <mat-label>训练集比例</mat-label>
        <input matInput type="number" [(ngModel)]="rate" [ngModelOptions]="{standalone: true}">
        <button *ngIf="rate" matSuffix mat-icon-button (click)="this.rate=0.8">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-form-field>
      <p>*训练集比例即(训练集数据量/总数据量)，是(0,1)开区间内的浮点数</p>
      <p>*非训练集即测试集；一般认为，训练集的数据量应该大于测试集才可以使推荐算法得到可观的结果</p>
      <button mat-button matStepperNext class="button-back">Back</button>
      <button mat-button matStepperNext class="button-next">Next</button>
    </form>
  </mat-step>
<!--  Step4.【管理员选项】是否愿意使用CB算法进行兴趣值估算以提高算法性能评测的可信度-->
  <mat-step [stepControl]="fourthFormGroup" errorMessage="Rate is required." [editable]="isEditable">
    <form [formGroup]="fourthFormGroup" class="step-div">
      <ng-template matStepLabel>是否开启空值补偿</ng-template>
      <p><mat-checkbox [formControl]="formControl_step4">开启空值补偿</mat-checkbox></p>
      <p>*开启后，测试集中所有的空白数据均会使用基于内容推荐算法进行填充，系统保证填充结果的客观性和准确性</p>
      <p>*该功能一般用于提升推荐算法结果测评的美观度，可能会导致计算速度较慢，请谨慎开启</p>
      <button mat-button matStepperNext class="button-back">Back</button>
      <button mat-button matStepperNext class="button-next">Next</button>
    </form>
  </mat-step>

  <mat-step [editable]="isEditable">
    <form class="step-div">
      <ng-template matStepLabel>结束</ng-template>
      <p *ngIf="!isStart">你已经完成了算法配置环节，点击生成来获取你的推荐结果</p>
      <p *ngIf="(isStart) && (!isFinish)">推荐结果生成需要一定时间，请客官耐心等待喵~</p>
      <mat-progress-bar mode="query" *ngIf="(isStart) && (!isFinish)"></mat-progress-bar>
      <div *ngIf="!isStart">
        <button mat-button matStepperNext class="button-back">Back</button>
        <button mat-button class="button-next" (click)="startRecommend()">生成</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>

<div *ngIf="isFinish && otherRes == true">
  <div class="list-title">
    <p>{{otherres}}</p>
  </div>
</div>

<div *ngIf="isFinish && otherRes == false">
  <div class="list-title">
    <p>向你推荐</p>
  </div>
  <div>
    <mat-list class="list-div">
      <mat-list-item>
        <mat-icon matListItemIcon>movie</mat-icon>
        <div class="list-item">
          <div>电影名</div>
          <div class="list-item-star">
            <p>推荐指数</p>
            <mat-icon>star</mat-icon>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item *ngFor="let mwr of shownMovies" routerLink="/movie-information" [queryParams]="{id:mwr.id}">
        <mat-icon matListItemIcon>movie</mat-icon>
        <div class="list-item">
          <div>{{mwr.name}}</div>
          <div class="list-item-star">
            <p>{{mwr.rate}}</p>
            <mat-icon>star</mat-icon>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
