<!--顶部导航栏-->

<mat-toolbar class="top-toolbar">
  <button mat-icon-button class="example-icon" (click)="maindrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>电影推荐系统</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="div-toolbar-down">

</div>

<!--显示整体-->
<!--左部导航栏-->
<div class="div-main">
  <mat-drawer-container class="mat-drawer-container" autosize>
    <!--左部导航栏-->
    <mat-drawer #maindrawer class="mat-drawer-sidenav" mode="side">
      <div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icons">face</mat-icon>
                普通用户功能
              </mat-panel-title>
              <mat-panel-description>
                传统的电影浏览以及电影推荐
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>浏览所有的电影信息，查看自己的观影记录，以及实用的电影推荐功能.</p>
            <div class="user-funciton-div">
              <button *ngIf="this.userstate.loginState" mat-fab extended color="primary" routerLink="user-information">
                <mat-icon>person</mat-icon>
                个人信息
              </button>
              <mat-divider class="divider"></mat-divider>
              <button mat-fab extended color="primary" routerLink="movie-home">
                <mat-icon>movie_filter</mat-icon>
                电影大全
              </button>
              <mat-divider class="divider"></mat-divider>
              <button *ngIf="this.userstate.loginState" mat-fab extended color="primary" routerLink="movie-recommend"
                      [queryParams]="{
                      isAdminer: userstate?.isAdminer,
                      userid: userstate?.userId
                      }">
                <mat-icon>recommend</mat-icon>
                电影推荐
              </button>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="userstate?.isAdminer">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icons">shield_person</mat-icon>
                管理员功能
              </mat-panel-title>
              <mat-panel-description>
                信息管理和推荐结果可视化
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>管理用户，电影以及评价信息；同时也可以更加直观地浏览推荐结果的各项性能</p>
            <div class="user-funciton-div">
              <button mat-fab extended color="primary" routerLink="rating-manage">
                <mat-icon>manage_accounts</mat-icon>
                评论信息管理
              </button>
              <mat-divider class="divider"></mat-divider>
              <button mat-fab extended color="primary" routerLink="movie-manage">
                <mat-icon>movie_edit</mat-icon>
                电影信息管理
              </button>
              <mat-divider class="divider"></mat-divider>
              <button mat-fab extended color="primary" routerLink="log-view">
                <mat-icon>bar_chart</mat-icon>
                推荐结果可视化
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-drawer>
    <!--右部显示主区域-->
    <div>
      <!--用户状态栏-->
      <mat-toolbar class="user-toolbar">
        <mat-chip class="reg-chip" (click)="regOpt()">
          <mat-icon>app_registration</mat-icon>
        </mat-chip>
        <mat-chip class="user-name-chip" (click)="userOpt()">
          <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"/>
          {{userstate?.userName}}
        </mat-chip>
      </mat-toolbar>
      <!--路由主区域-->
      <div><router-outlet></router-outlet></div>
    </div>
  </mat-drawer-container>
</div>


