
<div class="div-down">
  <div class="list-title">
    <p>评论浏览</p>
  </div>
  <div>
    <mat-expansion-panel class="expansion-panel-div" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="icons" class="mat-icon-css">settings</mat-icon>
          高级选项
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>使用高级筛选，可以帮助帮助筛特定用户的所有评论或指定电影的评论</p>
      <mat-form-field appearance="fill" class="select-sort">
        <mat-label>排序规则</mat-label>
        <mat-select [formControl]="ways" name="food">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let food of wayList" [value]="food.value">
            {{food.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-sort">
        <mat-label>输入{{ways.value}}ID</mat-label>
        <input matInput type="number" [(ngModel)]="targetId">
        <button *ngIf="targetId" matSuffix mat-icon-button aria-label="Clear" (click)="targetId=null">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="basic" class="search-button" (click)="search()">
        <mat-icon>search</mat-icon>
        查找
      </button>
    </mat-expansion-panel>
  </div>
  <div>
    <mat-list class="list-div">
      <mat-list-item>
        <mat-icon matListItemIcon>apps</mat-icon>
        <div class="list-item">
          <div>#ID</div>
          <div class="list-item-userid">UserId</div>
          <div class="list-item-movieid">MovieId</div>
          <div class="list-item-star">
            <p>评分</p>
            <mat-icon>star</mat-icon>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item *ngFor="let mwr of ratings">
        <mat-icon matListItemIcon>chat</mat-icon>
        <div class="list-item">
          <div>#{{mwr.id}}</div>
          <div class="list-item-userid">{{mwr.userid}}</div>
          <div class="list-item-movieid">{{mwr.movieid}}</div>
          <div class="list-item-star">
            <p>{{mwr.rating}}</p>
            <mat-icon>star</mat-icon>
          </div>
          <button mat-raised-button color="basic" class="list-item-delete" (click)="delete(mwr.id)">
            <mat-icon>delete</mat-icon>
            删除
          </button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-paginator #paginator
                   [pageSize]="pageSize"
                   (page)="handlePageEvent($event)"
                   [length]="ratingCount"
                   [hidePageSize]="true"
                   [showFirstLastButtons]="true"
                   aria-label="Select page">
    </mat-paginator>
  </div>

</div>
