<div mat-dialog-content class="login-div">
  <p>User Login</p>
  <mat-form-field appearance="fill">
    <mat-label>Your User Id</mat-label>
    <input matInput [(ngModel)]="logindata.id">
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Your Password</mat-label>
    <input matInput [(ngModel)]="logindata.password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="logindata" class="login-button" cdkFocusInitial>Login</button>
</div>
